body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    padding: 20px;
    display: flex;
}

button {
     background-color: black;
     color: white;
     border-color: white;
     padding: 30px;
     border-radius: 10px;
     margin: 20px;
     font-size: 40px;
}

h1 {
    font-size: 60px;
}

button:hover {
    background-color: #525253;
    border-width: 5px;
}
